@media (max-width: 420px){
    .phone {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        border-radius: 0;
        animation: hideAngle 1s ease-in-out;
    }
    
}
@media (max-width: 320px){
    .next-button{
        margin-bottom: 30px;
    }
}

@keyframes hideAngle {
    from {
        border-radius: 40px;
        top: -100%;
    }

    50%{
        top:0%;
    }
    to{
        border-radius: 0;
        
    }
}